#mainbody {

    background: white;
    width: 100%;
    display: none;
}
.tsel {
	top: 70px; left: 0px;
	position: relative;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.selector {
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    cursor: pointer;
    margin-bottom: -5px;
}
#webcamimg{
	width: 52px;
	height: 42px;
}
#qrimg{
	width: 52px;
	height: 42px;
}
#outdiv {
    width: 320px;
    height: 240px;
    border: solid;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 3px 3px 3px 3px;
}
#t{
	font-family: sans-serif;
	font-size: 15px;
	color: #ffffff;
}
.table {

    border-radius: 5px;
    width: 50%;
    margin: 5px auto;
    float: none;
}
.dvInf{
	border-radius: 5px;
    width: 50%;
    margin: 250px auto;
}
.card {
        margin: 150px auto; /* Added */
        float: none; /* Added */
        margin-bottom: 5px; /* Added */
        font-size: 15px;
}  
hr{
	background-color: #793cd8;
}
#f2{
	position: relative;
bottom: 0;
width: 100%;
height: 15%;
line-height: 30px;
background-color: #6c6c6c;
}